.env
node_modules/
.env
.env.*
dist/
build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.vscode/
*.local
*.sublime-workspace
*.sublime-project
*.swp
*.tmp
public/*.svg
# Local Netlify folder
.netlify
